<!DOCTYPE html>

<html lang="en">
    <head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <meta charset="UTF-8">
    <title>Personality Test</title>
        <div>
            <h1>
            Personality Quiz
            </h1>
        </div>

    </head>
<body>
   <div>
       <a href="https://drive.google.com/file/d/17KKayPC4HDISARU8mS4sc5i-FAERc8uF/view?usp=sharing" download="quiz.zip">
       <button class="button button1">Click to download the app!</button></a>
   </div>
</body>
</html>